# Frequency Distributions
## Simplifying Data
![Steps](https://s3.amazonaws.com/dq-content/285/s1m3_workflow.svg)

Our capacity to understand a data set just by looking at it in a table format is limited, and it decreases dramatically as the size of the data set increases. To be able to analyze data, we need to find ways to simplify it.

One way to simplify this data set is to select a variable, count how many times each unique value occurs, and represent the `frequencies` (the number of times a unique value occurs) in a table.

Try to get a sense for how difficult it is to analyze the basketball data set in its original form.
* Read in the basketball data set (the name of the CSV file is wnba.csv) using pd.read_csv().
* Using DataFrame.shape, find the number of rows and columns of the data set.
* Print the entire data set, and try to analyze the output to find some patterns.

In [2]:
import pandas as pd

pd.options.display.max_rows = 200
pd.options.display.max_columns = 50
wnba = pd.read_csv("wnba.csv")
shape = wnba.shape

print('Shape of data:', shape)
print('Dataset:', wnba)

Shape of data: (143, 32)
Dataset:                          Name Team  Pos  Height  Weight        BMI  \
0               Aerial Powers  DAL    F     183    71.0  21.200991
1                 Alana Beard   LA  G/F     185    73.0  21.329438
2                Alex Bentley  CON    G     170    69.0  23.875433
3             Alex Montgomery  SAN  G/F     185    84.0  24.543462
4                Alexis Jones  MIN    G     175    78.0  25.469388
5             Alexis Peterson  SEA    G     170    63.0  21.799308
6               Alexis Prince  PHO    G     188    81.0  22.917610
7               Allie Quigley  CHI    G     178    64.0  20.199470
8                Allisha Gray  DAL    G     185    76.0  22.205990
9           Allison Hightower  WAS    G     178    77.0  24.302487
10               Alysha Clark  SEA    F     180    76.0  23.456790
11              Alyssa Thomas  CON    F     188    84.0  23.766410
12            Amanda Zahui B.   NY    C     196   113.0  29.414827
13               Amber Harris  CHI    F     196    88.0  22.907122
14               Aneika Henry  ATL  F/C     193    87.0  23.356332
15             Angel Robinson  PHO  F/C     198    88.0  22.446689
16                Asia Taylor  WAS    F     185    76.0  22.205990
17            Bashaara Graves  CHI    F     188    91.0  25.746944
18              Breanna Lewis  DAL    C     196    93.0  24.208663
19            Breanna Stewart  SEA  F/C     193    77.0  20.671696
20               Bria Hartley   NY    G     173    66.0  22.052190
21                Bria Holmes  ATL    G     185    77.0  22.498174
22             Briann January  IND    G     173    65.0  21.718066
23              Brionna Jones  CON    F     191   104.0  28.507990
24              Brittany Boyd   NY    G     175    71.0  23.183673
25            Brittney Griner  PHO    C     206    93.0  21.915355
26             Brittney Sykes  ATL    G     175    66.0  21.551020
27             Camille Little  PHO    F     188    82.0  23.200543
28             Candace Parker   LA  F/C     193    79.0  21.208623
29             Candice Dupree  IND    F     188    81.0  22.917610
30           Cappie Pondexter  CHI    G     175    73.0  23.836735
31             Carolyn Swords  SEA    C     198    95.0  24.232221
32               Cayla George  PHO    C     193    87.0  23.356332
33               Chelsea Gray   LA    G     180    77.0  23.765432
34            Cheyenne Parker  CHI    F     193    86.0  23.087868
35        Clarissa dos Santos  SAN    C     185    89.0  26.004383
36             Courtney Paris  DAL    C     193   113.0  30.336385
37       Courtney Vandersloot  CHI    G     173    66.0  22.052190
38          Courtney Williams  CON    G     173    62.0  20.715694
39          Crystal Langhorne  SEA  F/C     188    84.0  23.766410
40             Damiris Dantas  ATL    C     191    89.0  24.396261
41             Danielle Adams  CON  F/C     185   108.0  31.555880
42          Danielle Robinson  PHO    G     175    57.0  18.612245
43              Dearica Hamby  SAN    F     191    86.0  23.573915
44           Devereaux Peters  IND    F     188    79.0  22.351743
45              Diana Taurasi  PHO    G     183    74.0  22.096808
46          Elena Delle Donne  WAS  G/F     196    85.0  22.126197
47         Elizabeth Williams  ATL  F/C     191    87.0  23.848030
48                Emma Cannon  PHO    F     188    86.0  24.332277
49             Emma Meesseman  WAS    C     193    83.0  22.282477
50           Epiphanny Prince   NY    G     175    81.0  26.448980
51              Erica Wheeler  IND    G     170    65.0  22.491349
52             Ã‰rika de Souza  SAN    C     196    86.0  22.386506
53             Erlana Larkins  IND    F     185    93.0  27.173119
54             Essence Carson   LA  G/F     183    74.0  22.096808
55             Evelyn Akhator  DAL    F     191    82.0  22.477454
56              Glory Johnson  DAL    F     191    77.0  21.106878
57              Imani Boyette  ATL    C     201    88.0  21.781639
58          Isabelle Harrison  SAN    C     191    83.0  22.751569
59                Ivory Latta  WAS    G     168    63.0  22.321429
60            Jantel Lavender   LA    C     193    84.0  22.550941
61             Jasmine Thomas  CON    G     175    66.0  21.551020
62            Jazmon Gwathmey  IND    G     188    65.0  18.390675
63            Jeanette Pohlen  IND    G     183    78.0  23.291230
64            Jennifer Hamson  IND    C     201    95.0  23.514269
65            Jessica Breland  CHI    F     191    77.0  21.106878
66                Jewell Loyd  SEA    G     178    67.0  21.146320
67                Jia Perkins  MIN    G     173    75.0  25.059307
68              Jonquel Jones  CON  F/C     198    86.0  21.936537
69              Jordan Hooper  CHI    F     188    84.0  23.766410
70                Kaela Davis  DAL    G     188    77.0  21.785876
71             Kahleah Copper  CHI  G/F     185    70.0  20.452885
72     Kaleena Mosqueda-Lewis  SEA    F     180    82.0  25.308642
73     Karima Christmas-Kelly  DAL  G/F     183    82.0  24.485652
74            Kayla Alexander  SAN    C     193    88.0  23.624795
75              Kayla McBride  SAN  G/F     180    79.0  24.382716
76             Kayla Pedersen  CON    F     193    86.0  23.087868
77             Kayla Thornton  DAL    F     185    86.0  25.127831
78             Keisha Hampton  CHI    F     185    78.0  22.790358
79                Kelsey Plum  SAN    G     173    66.0  22.052190
80                 Kia Vaughn   NY    C     193    90.0  24.161722
81                Kiah Stokes   NY    C     191    87.0  23.848030
82             Kristi Toliver  WAS    G     170    59.0  20.415225
83             Krystal Thomas  WAS    C     196    88.0  22.907122
84           Lanay Montgomery  SEA    C     196    96.0  24.989588
85          Layshia Clarendon  ATL    G     175    64.0  20.897959
86           Leilani Mitchell  PHO    G     165    58.0  21.303949
87              Lindsay Allen   NY    G     173    65.0  21.718066
88             Lindsay Whalen  MIN    G     175    78.0  25.469388
89              Lynetta Kizer  CON    C     193   104.0  27.920213
90            Maimouna Diarra   LA    C     198    90.0  22.956841
91               Makayla Epps  CHI    G     178     NaN        NaN
92            Marissa Coleman  IND  G/F     185    73.0  21.329438
93               Matee Ajavon  ATL    G     173    73.0  24.391059
94                 Maya Moore  MIN    F     183    80.0  23.888441
95             Monique Currie  PHO  G/F     183    80.0  23.888441
96                Morgan Tuck  CON    F     188    91.0  25.746944
97           Moriah Jefferson  SAN    G     168    55.0  19.486961
98            Natalie Achonwa  IND    C     193    83.0  22.282477
99              Natasha Cloud  WAS    G     183    73.0  21.798202
100            Natasha Howard  MIN    F     188    75.0  21.220009
101      Nayo Raincock-Ekunwe   NY  F/C     188    79.0  22.351743
102                Nia Coffey  SAN    F     185    77.0  22.498174
103            Nneka Ogwumike   LA    F     188    79.0  22.351743
104              Noelle Quinn  SEA    G     183    81.0  24.187046
105              Odyssey Sims   LA    G     173    73.0  24.391059
106          Plenette Pierson  MIN  F/C     188    88.0  24.898144
107             Rachel Banham  CON    G     175    76.0  24.816327
108            Ramu Tokashiki  SEA    F     193    80.0  21.477087
109             Rebecca Allen   NY  G/F     188    74.0  20.937076
110          Rebekkah Brunson  MIN    F     188    84.0  23.766410
111          Renee Montgomery  MIN    G     170    63.0  21.799308
112           Riquna Williams   LA    G     170    75.0  25.951557
113             Sami Whitcomb  SEA    G     178    66.0  20.830703
114             Sancho Lyttle  ATL    F     193    79.0  21.208623
115            Sandrine Gruda   LA  F/C     193    84.0  22.550941
116              Saniya Chong  DAL    G     173    64.0  21.383942
117          Seimone Augustus  MIN  G/F     183    77.0  22.992624
118            Sequoia Holmes  SAN    G     185    70.0  20.452885
119  Shatori Walker-Kimbrough  WAS    G     180    64.0  19.753086
120          Shavonte Zellous   NY    G     178    85.0  26.827421
121               Shay Murphy  SAN    G     180    74.0  22.839506
122        Shekinna Stricklen  CON  G/F     188    81.0  22.917610
123           Shenise Johnson  IND    G     180    78.0  24.074074
124      Skylar Diggins-Smith  DAL    G     175    66.0  21.551020
125           Stefanie Dolson  CHI    C     196    97.0  25.249896
126          Stephanie Talbot  PHO    G     185    87.0  25.420015
127                  Sue Bird  SEA    G     175    68.0  22.204082
128             Sugar Rodgers   NY    G     175    75.0  24.489796
129             Sydney Colson  SAN    G     173    64.0  21.383942
130              Sydney Wiese   LA    G     183    68.0  20.305175
131             Sylvia Fowles  MIN    C     198    96.0  24.487297
132              Tamera Young  ATL  G/F     188    77.0  21.785876
133               Tayler Hill  WAS    G     175    66.0  21.551020
134             Temi Fagbenle  MIN    C     193    89.0  23.893259
135         Theresa Plaisance  DAL    F     196    91.0  23.688047
136            Tianna Hawkins  WAS    F     191    87.0  23.848030
137       Tierra Ruffin-Pratt  WAS    G     178    83.0  26.196187
138             Tiffany Hayes  ATL    G     178    70.0  22.093170
139           Tiffany Jackson   LA    F     191    84.0  23.025685
140          Tiffany Mitchell  IND    G     175    69.0  22.530612
141              Tina Charles   NY  F/C     193    84.0  22.550941
142             Yvonne Turner  PHO    G     175    59.0  19.265306

    Birth_Place           Birthdate  Age              College Experience  \
0            US    January 17, 1994   23       Michigan State          2
1            US        May 14, 1982   35                 Duke         12
2            US    October 27, 1990   26           Penn State          4
3            US   December 11, 1988   28         Georgia Tech          6
4            US      August 5, 1994   23               Baylor          R
5            US       June 20, 1995   22             Syracuse          R
6            US    February 5, 1994   23               Baylor          R
7            US       June 20, 1986   31               DePaul          8
8            US    October 20, 1992   24       South Carolina          2
9            US        June 4, 1988   29                  LSU          5
10           US        July 7, 1987   30     Middle Tennessee          6
11           US    December 4, 1992   24             Maryland          3
12           SE      August 9, 1993   24            Minnesota          3
13           US    January 16, 1988   29               Xavier          3
14           JM   February 13, 1986   31              Florida          6
15           US     August 30, 1995   21        Arizona State          1
16           US     August 22, 1991   26           Louisville          3
17           US      March 17, 1994   23            Tennessee          1
18           US       June 22, 1994   23         Kansas State          R
19           US     August 27, 1994   22          Connecticut          2
20           US  September 30, 1992   24          Connecticut          4
21           US      April 19, 1994   23        West Virginia          R
22           US    November 1, 1987   29        Arizona State          9
23           US   December 18, 1995   21             Maryland          R
24           US    November 6, 1993   23          UC Berkeley          3
25           US    October 18, 1990   26               Baylor          5
26           US        July 2, 1994   23              Rutgers         10
27           US    January 18, 1985   32       North Carolina         11
28           US      April 19, 1986   31            Tennessee         10
29           US   February 25, 1984   33               Temple         12
30           US        July 1, 1983   34              Rutgers         11
31           US       July 19, 1989   28       Boston College          6
32           AU      April 20, 1987   30              Georgia          1
33           US     August 10, 1992   25                 Duke          3
34           US     August 22, 1992   25     Middle Tennessee          2
35           BR     October 3, 1988   28               Brazil          4
36           US  September 21, 1987   29             Oklahoma          7
37           US      August 2, 1989   28              Gonzaga          6
38           US    November 5, 1994   22        South Florida          1
39           US    October 27, 1986   30             Maryland         10
40           BR   November 17, 1992   24               Brazil          4
41           US   February 19, 1989   28            Texas A&M          5
42           US     October 5, 1989   27             Oklahoma          7
43           US       June 11, 1993   24          Wake Forest          2
44           US     August 10, 1989   28           Notre Dame          6
45           US    November 6, 1982   34          Connecticut         13
46           US         May 9, 1989   28             Delaware          5
47           US       June 23, 1993   24                 Duke          3
48           US     January 6, 1989   28      Central Florida          R
49           BE        May 13, 1993   24              Belgium          5
50           US    November 1, 1988   28              Rutgers          8
51           US    February 5, 1991   26              Rutgers          3
52           BR   September 3, 1982   34               Brazil         13
53           US    February 4, 1986   31       North Carolina          9
54           US       July 28, 1986   31              Rutgers         10
55           NG       March 2, 1995   22             Kentucky          R
56           US       July 27, 1990   27            Tennessee          4
57           US   November 10, 1992   24                Texas          1
58           US  September 27, 1993   23             Kentucky          3
59           US  September 25, 1984   32       North Carolina         12
60           US   December 11, 1988   28           Ohio State          7
61           US  September 30, 1989   27                 Duke          6
62           PR    January 24, 1993   24        James Madison          2
63           US    February 5, 1989   28             Stanford          6
64           US    January 23, 1992   25        Brigham Young          1
65           US   February 23, 1988   29       North Carolina          5
66           US        May 10, 1993   24           Notre Dame          3
67           US   February 23, 1982   35           Texas Tech         14
68           BS         May 1, 1994   23    George Washington          1
69           US   February 20, 1992   25             Nebraska          3
70           US      March 15, 1995   22       South Carolina          R
71           US     August 28, 1994   22              Rutgers          1
72           US      March 11, 1993   24          Connecticut          3
73           US    November 9, 1989   27                 Duke          6
74           CA         May 1, 1991   26        Arizona State          4
75           US       June 25, 1992   25           Notre Dame          3
76           US      April 14, 1989   28             Stanford          5
77           US    October 20, 1992   24        Texasâ€“El Paso          2
78           US   February 22, 1990   27               DePaul          1
79           US     August 24, 1994   23           Washington          R
80           US    January 24, 1987   30              Rutgers          9
81           US      March 30, 1993   24          Connecticut          3
82           US    January 27, 1987   30             Maryland          9
83           US     October 6, 1989   27                 Duke          6
84           US  September 17, 1993   23        West Virginia          R
85           US    February 5, 1991   26          UC Berkeley          5
86           US       June 15, 1985   32                 Utah          9
87           US      March 20, 1995   22           Notre Dame          R
88           US   September 5, 1982   34            Minnesota         14
89           US       April 4, 1990   27             Maryland          5
90           SN    January 30, 1991   26               Sengal          R
91           US        June 6, 1995   22             Kentucky          R
92           US       April 1, 1987   30             Maryland          9
93           US        July 5, 1986   31            Syracruse          R
94           US    November 6, 1989   27          Connecticut          7
95           US   February 25, 1983   34                 Duke         11
96           US      April 30, 1994   23          Connecticut          1
97           US      August 3, 1994   23          Connecticut          1
98           CA   November 22, 1992   24           Notre Dame          3
99           US   February 22, 1992   25       Saint Joseph's          3
100          US    February 9, 1991   26        Florida State          4
101          CA     August 29, 1991   25         Simon Fraser          R
102          US        May 21, 1995   22         Northwestern          R
103          US    February 7, 1990   27             Stanford          6
104          US       March 1, 1985   32                 UCLA         11
105          US       July 13, 1992   25               Baylor          4
106          US     August 31, 1981   35           Texas Tech         15
107          US       July 15, 1993   24            Minnesota          2
108          JP    November 6, 1991   25                Japan          1
109          AU       June 11, 1992   25            Australia          3
110          US   November 12, 1981   35           Georgetown         14
111          US   February 12, 1986   31          Connecticut          9
112          US        May 28, 1990   27           Miami (FL)          5
113          US       July 20, 1988   29           Washington          R
114          ES  September 20, 1983   33              Houston         13
115          FR       June 25, 1987   30               France          5
116          US       June 27, 1994   23          Connecticut          R
117          US      April 30, 1984   33                  LSU         12
118          US       June 13, 1986   31                 UNLV          2
119          US        May 18, 1995   22             Maryland          R
120          US     August 28, 1986   30           Pittsburgh          9
121          US      April 15, 1985   32  Southern California          9
122          US       July 30, 1990   27            Tennessee          5
123          US  September 12, 1990   26           Miami (FL)          6
124          US    February 8, 1990   27           Notre Dame          4
125          US      August 1, 1992   25          Connecticut          3
126          AU   December 20, 1990   26            Australia          R
127          US    October 16, 1980   36          Connecticut         15
128          US     August 12, 1989   28           Georgetown          6
129          US        June 8, 1989   28            Texas A&M          3
130          US       July 13, 1992   25         Oregon State          R
131          US       June 10, 1985   32                  LSU         10
132          US    October 30, 1986   30            Tennessee          9
133          US    October 23, 1990   26           Ohio State          5
134          UK      August 9, 1992   25  Southern California          R
135          US        May 18, 1992   25                  LSU          4
136          US    February 3, 1991   26             Maryland          4
137          US    November 4, 1991   25       North Carolina          5
138          US  September 20, 1989   27          Connecticut          6
139          US      April 26, 1985   32                Texas          9

***
## Frequency Distribution Tables

A frequency distribution table has two columns. One column records the unique values of a variable, and the other the frequency of each unique value.
![table](https://s3.amazonaws.com/dq-content/285/s1m3_freq_table_anatomy.svg)

To generate a frequency distribution table using Python, we can use the `Series.value_counts()`.

In [3]:
print(wnba['Pos'].value_counts())

G      60
F      33
C      25
G/F    13
F/C    12
Name: Pos, dtype: int64

Using the Series.value_counts() method, generate frequency distribution tables for the following columns:
  * Pos. Assign the frequency distribution table to a variable named freq_distro_pos.
  * Height. Assign the frequency distribution table to a variable named freq_distro_height.

In [4]:
freq_distro_pos = wnba['Pos'].value_counts()
freq_distro_height = wnba['Height'].value_counts()

print('Position:','\n',freq_distro_pos)
print('\n')
print('Height:','\n',freq_distro_height)

Position:
 G      60
F      33
C      25
G/F    13
F/C    12
Name: Pos, dtype: int64


Height:
 188    20
193    18
175    16
185    15
183    11
173    11
191    11
196     9
178     8
180     7
170     6
198     5
201     2
168     2
206     1
165     1
Name: Height, dtype: int64

***
## Sorting Frequency Distribution Tables

![Sort](https://s3.amazonaws.com/dq-content/284/s1m2_interval_ratio.svg)

Because the Height variable has direction, we might be interested to find:
* How many players are under 170 cm?
* How many players are very tall (over 185)?
* Are there any players below 160 cm?

It's time-consuming to answer these questions using the table above. The solution is to sort the table ourselves.

`wnba['Height'].value_counts()` returns a `Series` object with the measures of height as indices. This allows us to sort the table by index using the `Series.sort_index()` method:

In [5]:
print(wnba['Height'].value_counts().sort_index())

165     1
168     2
170     6
173    11
175    16
178     8
180     7
183    11
185    15
188    20
191    11
193    18
196     9
198     5
201     2
206     1
Name: Height, dtype: int64

We can also sort the table by index in a descending order using `wnba['Height'].value_counts().sort_index(ascending = False)`

Generate a frequency distribution table for the Age variable, which is measured on a ratio scale, and sort the table by unique values.
* Sort the table by unique values in an ascending order, and assign the result to a variable named age_ascending.
* Sort the table by unique values in a descending order, and assign the result to a variable named age_descending.

Using the variable inspector, analyze one of the frequency distribution tables and brainstorm questions that might be interesting to answer here. These include:
* How many players are under 20?
* How many players are 30 or over?

In [6]:
age_ascending = wnba['Age'].value_counts().sort_index()
age_descending = wnba['Age'].value_counts().sort_index(ascending = False)

print('Age Ascending:','\n', age_ascending)
print('\n')
print('Age Descending','\n', age_descending)

Age Ascending:
 21     2
22    10
23    15
24    16
25    15
26    12
27    13
28    14
29     8
30     9
31     8
32     8
33     3
34     5
35     4
36     1
Name: Age, dtype: int64


Age Descending
 36     1
35     4
34     5
33     3
32     8
31     8
30     9
29     8
28    14
27    13
26    12
25    15
24    16
23    15
22    10
21     2
Name: Age, dtype: int64

***
## Sorting Tables for Ordinal Variables

We name the new column PTS_ordinal_scale. Below is a short extract from our data set containing the new column:

In [7]:
def make_pts_ordinal(row):
    if row['PTS'] <= 20:
        return 'very few points'
    if (20 < row['PTS'] <=  80):
        return 'few points'
    if (80 < row['PTS'] <=  150):
        return 'many, but below average'
    if (150 < row['PTS'] <= 300):
        return 'average number of points'
    if (300 < row['PTS'] <=  450):
        return 'more than average'
    else:
        return 'much more than average'
    
wnba['PTS_ordinal_scale'] = wnba.apply(make_pts_ordinal, axis = 1)

print(wnba[['Name', 'PTS', 'PTS_ordinal_scale']].head())

              Name  PTS         PTS_ordinal_scale
0    Aerial Powers   93   many, but below average
1      Alana Beard  217  average number of points
2     Alex Bentley  218  average number of points
3  Alex Montgomery  188  average number of points
4     Alexis Jones   50                few points

Let's examine the frequency distribution table for the `PTS_ordinal_scale` variable:

In [8]:
print(wnba['PTS_ordinal_scale'].value_counts())

average number of points    45
few points                  27
many, but below average     25
more than average           21
much more than average      13
very few points             12
Name: PTS_ordinal_scale, dtype: int64

We want to sort the labels in an ascending or descending order, but using `Series.sort_index()` doesn't work because the method can't infer quantities from words like "few points". `Series.sort_index()` can only order the index alphabetically in an ascending or descending order:

In [9]:
print(wnba['PTS_ordinal_scale'].value_counts().sort_index())

average number of points    45
few points                  27
many, but below average     25
more than average           21
much more than average      13
very few points             12
Name: PTS_ordinal_scale, dtype: int64

The solution is to do selection by index label. The output of `wnba['PTS_ordinal_scale'].value_counts()` is a Series object with the labels as indices. This means we can select by indices to reorder in any way we like:

In [10]:
print(wnba['PTS_ordinal_scale'].value_counts()[['very few points', 'few points', 'many, but below average', 'average number of points']])

very few points             12
few points                  27
many, but below average     25
average number of points    45
Name: PTS_ordinal_scale, dtype: int64

This approach can be time-consuming because it involves more typing than is ideal. We can use iloc[] instead to reorder by position:

In [11]:
print(wnba['PTS_ordinal_scale'].value_counts().iloc[[3, 1, 2, 0]])

more than average           21
few points                  27
many, but below average     25
average number of points    45
Name: PTS_ordinal_scale, dtype: int64

Generate a frequency distribution table for the transformed PTS_ordinal_scale column.
* Order the table by unique values in a descending order (not alphabetically).
* Assign the result to a variable named pts_ordinal_desc.

In [12]:
def make_pts_ordinal(row):
    if row['PTS'] <= 20:
        return 'very few points'
    if (20 < row['PTS'] <=  80):
        return 'few points'
    if (80 < row['PTS'] <=  150):
        return 'many, but below average'
    if (150 < row['PTS'] <= 300):
        return 'average number of points'
    if (300 < row['PTS'] <=  450):
        return 'more than average'
    else:
        return 'much more than average'
    
wnba['PTS_ordinal_scale'] = wnba.apply(make_pts_ordinal, axis = 1)

# Type your answer below
pts_ordinal_desc = wnba['PTS_ordinal_scale'].value_counts().iloc[[4, 3, 0, 2, 1, 5]]
print(pts_ordinal_desc)

much more than average      13
more than average           21
average number of points    45
many, but below average     25
few points                  27
very few points             12
Name: PTS_ordinal_scale, dtype: int64

***
## Proportions and Percentages

In pandas, we can compute all the proportions at once by dividing each frequency by the total number of players:

In [13]:
print(wnba['Pos'].value_counts() / len(wnba))

G      0.419580
F      0.230769
C      0.174825
G/F    0.090909
F/C    0.083916
Name: Pos, dtype: float64

It's slightly faster though to use `Series.value_counts()` with the normalize parameter set to True:

In [14]:
print(wnba['Pos'].value_counts(normalize = True))

G      0.419580
F      0.230769
C      0.174825
G/F    0.090909
F/C    0.083916
Name: Pos, dtype: float64

To find percentages, we just have to multiply the proportions by 100:

In [15]:
print(wnba['Pos'].value_counts(normalize = True) * 100)

G      41.958042
F      23.076923
C      17.482517
G/F     9.090909
F/C     8.391608
Name: Pos, dtype: float64

Answer the following questions about the Age variable:
* What proportion of players are 25 years old? Assign your answer to a variable named proportion_25.
* What percentage of players are 30 years old? Assign your answer to a variable named percentage_30.
* What percentage of players are 30 years or older? Assign your answer to a variable named percentage_over_30.
* What percentage of players are 23 years or younger? Assign your answer to a variable named percentage_below_23.

In [16]:
print(wnba['Age'].value_counts(normalize = True))

24    0.111888
23    0.104895
25    0.104895
28    0.097902
27    0.090909
26    0.083916
22    0.069930
30    0.062937
31    0.055944
29    0.055944
32    0.055944
34    0.034965
35    0.027972
33    0.020979
21    0.013986
36    0.006993
Name: Age, dtype: float64

In [17]:
print(wnba['Age'].value_counts(normalize=True)*100)

24    11.188811
23    10.489510
25    10.489510
28     9.790210
27     9.090909
26     8.391608
22     6.993007
30     6.293706
31     5.594406
29     5.594406
32     5.594406
34     3.496503
35     2.797203
33     2.097902
21     1.398601
36     0.699301
Name: Age, dtype: float64

In [18]:

def make_age_ordinal(row):
    if row['Age'] <= 23:
        return 'under 23'
    if (20 < row['Age'] >=  30):
        return 'over 30'
    else:
        return 'other ages'
    
wnba['Age_ordinal_scale'] = wnba.apply(make_age_ordinal, axis = 1)

print(wnba[['Age_ordinal_scale']].value_counts(normalize=True)*100)

Age_ordinal_scale
other ages           54.545455
over 30              26.573427
under 23             18.881119
dtype: float64

***
## Percentiles and Percentile Ranks

In the previous exercise, we found that the percentage of players aged 23 years or younger is 19% (rounded to the nearest integer). This percentage is also called a **percentile rank**.

In this context, the value of 23 is called the 19th **percentile**. If a value *x* is the 19th percentile, it means that 19% of *all* the values in the distribution are equal to or less than *x*.

![percent](https://s3.amazonaws.com/dq-content/285/s1m3_percentiles_v2.svg)

In our previous exercise, our answer to this question was 18.881%. We can arrive at the same answer a bit faster using the `percentileofscore(a, score, kind='weak')` <span style="color:green">function</span> from `scipy.stats`:

In [19]:
from scipy.stats import percentileofscore
print(percentileofscore(a = wnba['Age'], score = 23, kind = 'weak'))

18.88111888111888

We need to use `kind = 'weak'` to indicate that we want to find the percentage of values that are equal to or less than the value we specify in the score parameter.

Another question we had was what percentage of players are 30 years or older. We can answer this question too using percentile ranks. First we need to find the percentage of values equal to or less than 29 years (the percentile rank of 29). The rest of the values must be 30 years or more.

![age](https://s3.amazonaws.com/dq-content/285/s1m3_difference.svg)

In our exercise the answer we found was 26.573%. This is what we get using the technique we've just learned:

In [20]:
print(100 - percentileofscore(wnba['Age'], 29, kind = 'weak'))

26.573426573426573

Import `percentileofscore()` from `scipy.stats` has been imported above. Use it to answer the following: 

* What percentage of players played half the number of games or less in the 2016-2017 season (there are 34 games in the WNBAâ€™s regular season)? Use the `Games Played` column to find the data you need, and assign your answer to a variable named `percentile_rank_half_less`.
* What percentage of players played more than half the number of games of the season 2016-2017? Assign your result to `percentage_half_more`.

In [21]:
percentile_rank_half_less = percentileofscore(wnba['Games Played'], 17, kind='weak')
percentage_half_more = 100 - percentile_rank_half_less

print(percentile_rank_half_less)
print(percentage_half_more)

16.083916083916083
83.91608391608392

***
## Finding Percentiles with pandas

To find percentiles, we can use the `Series.describe()`

In [22]:
print(wnba['Age'].describe())

count    143.000000
mean      27.076923
std        3.679170
min       21.000000
25%       24.000000
50%       27.000000
75%       30.000000
max       36.000000
Name: Age, dtype: float64

 We can use `iloc[]` to isolate just the output we want:

In [23]:
print(wnba['Age'].describe().iloc[3:])

min    21.0
25%    24.0
50%    27.0
75%    30.0
max    36.0
Name: Age, dtype: float64

![AgePercent](https://s3.amazonaws.com/dq-content/285/s1m3_quantiles_v2.svg)

The three percentiles that divide the distribution in four equal parts are also known as `quartiles`.
* The first quartile (also called lower quartile) is 24 (note that 24 is also the 25th percentile).
* The second quartile (also called the middle quartile) is 27 (note that 27 is also the 50th percentile).
* And the third quartile (also called the upper quartile) is 30 (note that 30 is also the 75th percentile).

We may be interested to find the percentiles for percentages other than 25%, 50%, or 75%. For that, we can use the `percentiles` parameter of `Series.describe()`

In [24]:
print(wnba['Age'].describe(percentiles = [.1, .15, .33, .5, .592, .85, .9]).iloc[3:])

min      21.0
10%      23.0
15%      23.0
33%      25.0
50%      27.0
59.2%    28.0
85%      31.0
90%      32.0
max      36.0
Name: Age, dtype: float64

Use the `Age` variable along with `Series.describe()` to answer the following questions:
* What's the upper quartile of the `Age` variable? Assign your answer to a variable named `age_upper_quartile`.
* What's the middle quartile of the `Age` variable? Assign your answer to a variable named `age_middle_quartile`.
* What's the 95th percentile of the `Age` variable? Assign your answer to a variable named `age_95th_percentile`.

Indicate the truth value of the following sentences:
* A percentile is a value of a variable, and it corresponds to a certain percentile rank in the distribution of that variable. (If you think this is true, assign `True` (boolean, not string) to a variable named `question1`, otherwise assign `False`.)
* A percentile rank is a numerical value from the distribution of a variable. (Assign `True` or `False` to `question2`.)
The 25th percentile is the same thing as the lower quartile, and the upper quartile is the same thing as the third quartile. (Assign `True` or `False` to `question3`)

In [25]:
wnba = pd.read_csv('wnba.csv')
percentiles = wnba['Age'].describe(percentiles = [.5, .75, .95])
age_upper_quartile = percentiles['75%']
age_middle_quartile = percentiles['50%']
age_95th_percentile = percentiles['95%']

question1 = True
question2 = False
question3 = True

print(age_upper_quartile)
print(age_middle_quartile)
print(age_95th_percentile)

30.0
27.0
34.0

***
## Grouped Frequency Distribution Tables

Not all frequency tables are straightforward:

In [26]:
print(wnba['Weight'].value_counts().sort_index())

55.0      1
57.0      1
58.0      1
59.0      2
62.0      1
63.0      3
64.0      5
65.0      4
66.0      8
67.0      1
68.0      2
69.0      2
70.0      3
71.0      2
73.0      6
74.0      4
75.0      4
76.0      4
77.0     10
78.0      5
79.0      6
80.0      3
81.0      5
82.0      4
83.0      4
84.0      9
85.0      2
86.0      7
87.0      6
88.0      6
89.0      3
90.0      2
91.0      3
93.0      3
95.0      2
96.0      2
97.0      1
104.0     2
108.0     1
113.0     2
Name: Weight, dtype: int64

Fortunately, pandas can handle this process gracefully. We only need to make use of the `bins` parameter of `Series.value_counts()`. We want ten equal intervals, so we need to specify `bins = 10`:

In [27]:
print(wnba['Weight'].value_counts(bins = 10).sort_index())

(54.941, 60.8]     5
(60.8, 66.6]      21
(66.6, 72.4]      10
(72.4, 78.2]      33
(78.2, 84.0]      31
(84.0, 89.8]      24
(89.8, 95.6]      10
(95.6, 101.4]      3
(101.4, 107.2]     2
(107.2, 113.0]     3
Name: Weight, dtype: int64

`(54.941, 60.8], (60.8, 66.6] or (107.2, 113.0]` are number intervals. The `(` character indicates that the starting point is not included, while the `]` indicates that the endpoint is included. The interval `(54.941, 60.8]` contains all real numbers greater than 54.941 and less than or equal to 60.8.

Examine the frequency table for the PTS (total points) variable trying to find some patterns in the distribution of values. Then, generate a grouped frequency distribution table for the PTS variable with the following characteristics:
* The table has 10 class intervals.
* For each class interval, the table shows percentages instead of frequencies.
* The class intervals are sorted in descending order. 

Assign the table to a variable named grouped_freq_table, then print it and try again to find some patterns in the distribution of values.

In [28]:
grouped_freq_table = wnba['PTS'].value_counts(bins = 10, normalize = True).sort_index(ascending = False)*100

print(grouped_freq_table)

(525.8, 584.0]     3.496503
(467.6, 525.8]     2.797203
(409.4, 467.6]     5.594406
(351.2, 409.4]     6.993007
(293.0, 351.2]     5.594406
(234.8, 293.0]    11.888112
(176.6, 234.8]    13.986014
(118.4, 176.6]    11.888112
(60.2, 118.4]     16.783217
(1.417, 60.2]     20.979021
Name: PTS, dtype: float64

***
## Information Loss

When we generate grouped frequency distribution tables, there's an inevitable information loss.

In [29]:
print(wnba['PTS'].value_counts(bins = 10))

(1.417, 60.2]     30
(60.2, 118.4]     24
(176.6, 234.8]    20
(118.4, 176.6]    17
(234.8, 293.0]    17
(351.2, 409.4]    10
(293.0, 351.2]     8
(409.4, 467.6]     8
(525.8, 584.0]     5
(467.6, 525.8]     4
Name: PTS, dtype: int64

Looking at the first interval, we can see there are 30 players who scored between 2 and 60 points (2 is the minimum value in our data set, and points in basketball can only be integers).

To get back this granular information, we can increase the number of class intervals. However, if we do that, we end up again with a table that's lengthy and very difficult to analyze.

On the other side, if we decrease the number of class intervals, we lose even more information:

In [30]:
print(wnba['PTS'].value_counts(bins = 5).sort_index())

(1.417, 118.4]    54
(118.4, 234.8]    37
(234.8, 351.2]    25
(351.2, 467.6]    18
(467.6, 584.0]     9
Name: PTS, dtype: int64

As a rule of thumb, 10 is a good number of class intervals to choose because it offers a good balance between information and comprehensibility.

Generate a grouped frequency distribution for the MIN variable (minutes played during the season), and experiment with the number of class intervals to get a sense for what conclusions you can draw as you vary the number of class intervals. Try to experiment with the following numbers of class intervals:
1
2
3
5
10
15
20
40

***
## Readability for Grouped Frequency Tables

The intervals pandas outputs are confusing at first sight:

In [31]:
print(wnba['PTS'].value_counts(bins = 6).sort_index())

(1.417, 99.0]     48
(99.0, 196.0]     27
(196.0, 293.0]    33
(293.0, 390.0]    13
(390.0, 487.0]    13
(487.0, 584.0]     9
Name: PTS, dtype: int64

Let's look at one way to code the intervals. We start with creating the intervals using the `pd.interval_range()` function:

In [32]:
intervals = pd.interval_range(start = 0, end = 600, freq = 100)
print(intervals)

IntervalIndex([(0, 100], (100, 200], (200, 300], (300, 400], (400, 500], (500, 600]], dtype='interval[int64, right]')

Next, we pass the `intervals` variable to the `bins` parameter, store the result to `gr_freq_table`, and print the result, like this:

In [33]:
gr_freq_table = wnba["PTS"].value_counts(bins = intervals).sort_index()
print(gr_freq_table)

(0, 100]      49
(100, 200]    28
(200, 300]    32
(300, 400]    17
(400, 500]    10
(500, 600]     7
Name: PTS, dtype: int64

Now we do a quick check of our work. There are 143 players in the data set, so the frequencies should add up to 143:

In [34]:
print(gr_freq_table.sum())

143

Using the techniques above, generate a grouped frequency table for the PTS variable. The table should have the following characteristics:
* The first class interval starts at 0 (not included).
* The last class interval ends at 600 (included).
* Each interval has a range of 60 points.
* There are 10 class intervals.

Assign the table to a variable named gr_freq_table_10.

In [36]:
intervals = pd.interval_range(start = 0, end = 600, freq = 60)
gr_freq_table_10 = wnba['PTS'].value_counts(bins = intervals).sort_index()

print(gr_freq_table_10)

(0, 60]       30
(60, 120]     25
(120, 180]    17
(180, 240]    22
(240, 300]    15
(300, 360]     7
(360, 420]    11
(420, 480]     7
(480, 540]     4
(540, 600]     5
Name: PTS, dtype: int64